$main-color: rgb(199, 1, 1);
@import 'base/variables';
* {
        font-family: 'MuseoSansCyrl100', sans-serif;
}
.container {
        width: 950px;
        margin: 0 auto; 
}
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages.scss';