.title {
    font-size: 30px;
    color: rgb(13, 13, 13);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    &_left {
        color: rgb(255, 255, 255);
        text-align: left;
        line-height: 1.2;
      }
      
}